<mat-card class="example-container">
  <mat-card-header class="col-md-12 ">
    <mat-card-title>
      <div class="col-md-8 padding-0">
        <h3>Register</h3>
      </div>

      <div class="col-md-2 text-right small-button padding-0">
        <button title="Login" mat-raised-button color="primary" routerLink="/login">
          <i class="material-icons">
            arrow_back
          </i>
        </button>  
      </div>

      <div class="col-md-2 text-right small-button padding-0">
        <button mat-raised-button title="Reset Form" color="primary" (click)="refresh()">
          <i class="material-icons">autorenew</i>
        </button>
      </div>

    </mat-card-title>
  </mat-card-header>

  <div class="col-md-12">
    <mat-form-field class="width100">
      <input [formControl]="regName" [(ngModel)]="regInputName" matInput placeholder="Name">
      <mat-error *ngIf="regName.invalid">{{getErrorName()}}</mat-error>
    </mat-form-field>
  </div>
  <div class="col-md-12">
    <mat-form-field class="width100">
      <input [formControl]="regUsername" [(ngModel)]="regInputUserName" matInput placeholder="User Name">
      <mat-error *ngIf="regUsername.invalid">{{getErrorUserName()}}</mat-error>
    </mat-form-field>
  </div>
  <div class="col-md-12">
    <mat-form-field class="width100">
      <input [formControl]="regPhone"[(ngModel)]="regInputPhone" matInput placeholder="Phone">
      <mat-error *ngIf="regPhone.invalid">{{getErrorMobile()}}</mat-error>
    </mat-form-field>
  </div>
  <div class="col-md-12">
    <mat-form-field class="width100">
      <input [formControl]="regEmail" [(ngModel)]="regInputMail" matInput placeholder="Email">
      <mat-error *ngIf="regEmail.invalid">{{getErrorEmail()}}</mat-error>
    </mat-form-field>
  </div>
  <div class="col-md-12">
    <mat-form-field class="width100">
      <textarea [formControl]="regAddress" [(ngModel)]="regInputAddress" matInput placeholder="Address"> </textarea>
      <mat-error *ngIf="regAddress.invalid">{{getErrorAddress()}}</mat-error>
    </mat-form-field>
  </div>
  <div class="col-md-12">
    <mat-form-field class="width100">
      <input type="password" [formControl]="regPassword" [(ngModel)]="regInputPassword" matInput placeholder="Password">
      <mat-error *ngIf="regPassword.invalid">{{getErrorPassword()}}</mat-error>
    </mat-form-field>
  </div>
  <div class="col-md-12 text-center">
    <button class="width100" mat-raised-button color="primary" (click)="register()" [disabled]="!(regInputName && regInputUserName && regInputPhone && regInputMail && regInputAddress && regInputPassword)">Register</button>
  </div>
</mat-card>